.forgetbtnloginform {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #808080;
  text-align: center;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 50px;
  text-decoration: none;
}
.formsubmitbutton:hover,
.formsubmitbutton:focus-visible {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: black;
  text-align: center;
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: rgba(42, 119, 65, 1);
  margin-right: 10px;
}
.makefieldgightmore {
  line-height: 45px;
}
.submitbtn {
  width: 63%;
  display: flex;
  justify-content: end;
  margin-top: 50px;
}
.forgetbtn {
  width: 37%;
  display: flex;
  justify-content: end;
}
.makebtnsinrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.makesignupbtncenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form-error {
  color: red !important;
}
.signup-steps-form-error {
  color: red !important;
}
.form-error {
  color: red;
}
