.joinclubaddpadding{
    padding: 6% 0%;
    background-image: url(../../images//blueoverlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.joiclubheadingtop{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color:#C8C8C8;
    text-align: center;
}
.joinleaguetitles{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color:#D9D9D9;
}

.makeinrowtitlesjoinleague{
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}
.joinclubsinglebg{
    background-color: #1A1F38;
    padding: 5px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clubname{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color:#C8C8C8;
    margin-bottom: 0px;
    margin-left: 10px;
}
.scarcityimgandtext{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.paucityvalue{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color:#A2ACDD;
    margin-bottom: 0px;
}
.makebuttonendbeat{
    display: flex;
    justify-content: end;
}
.beatclubbutton, .beatclubbutton:hover{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color:black;
    text-align: center;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: rgba(42, 119, 65, 1);
    margin-right: 10px;
}
@media only screen and (max-width: 700px) {
    .makedisplayyinblock{
        width:980px;
        padding: 20px;
        display: inline-block;

    }
}