.playbackgroundimagforsinglepage {
  background: url(/src/Assets/images/sigleplaybg.png), #1a1f388b;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3% 0%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.playvbackgroundimag{
  background: url(/src/Assets/images/sigleplaybg.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3% 0% 6% 0%;
}
.playbackgroundimag {
  background: url(/src/Assets/images/playbg.png), #1a1f388b;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3% 0% 6% 0%;
  background-blend-mode: multiply;
}
.leftplaybutton,
.leftplaybutton:hover {
  background-color: #ffffff41;
  padding: 10px 30px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.leftplaybuttonhover {
  background-color: #ffffff41;
  padding: 10px 30px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.leftplaybuttonhover:hover {
  background-color: #2a7741;
  padding: 10px 30px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.playrank {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #14ff00;
  font-style: italic;
  margin-bottom: 0px;
}
.playrankred {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fa4a32;
  font-style: italic;
  margin-bottom: 0px;
}
.playrankwhite {
  color: #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 0px;
}
.maketimeinrowplayground {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0px;
  justify-content: space-between;
}
.tmplayground {
  background-color: #7cc2ed;
  padding: 5px 18px;
  border-radius: 5px;
}
.zhplayground {
  background-color: #70ad47;
  padding: 5px 18px;
  border-radius: 5px;
}
.timetextplayground {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  font-style: italic;
  margin-bottom: 0px;
}
.timehour {
  background: linear-gradient(
    180deg,
    #797979 0%,
    rgba(255, 255, 255, 0.901042) 0.01%,
    rgba(169, 169, 169, 0.952396) 68.54%,
    #585858 100%
  );
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 5px;
}
.hourplayground {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  font-style: italic;
  margin-bottom: 0px;
}
.maketheminrowatbottomfield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.playerimagedivplay {
  margin: 0px 0px 10px 10px;
}
.selecttokentoexchangeformbytton,
.selecttokentoexchangeformbytton:hover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: black;
  text-align: center;
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
  background-color: rgba(42, 119, 65, 1);
}
.exchangepopbuy,
.exchangepopbuy:hover,
.exchangepopbuy:active {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: black;
  text-align: center;
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
  background-color: #08ad68;
}
.exchangepopsell,
.exchangepopsell:hover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: black;
  text-align: center;
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
  background-color: #ca3d2a;
}
.setbuttonpositionforplaypopup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.playerclickpopupbutton {
  background-color: transparent;
  border: none;
}
.playerclickpopupbutton:hover {
  background-color: rgba(42, 119, 65, 1);
  border: none;
}
.exchangepopuptextfield {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: rgba(42, 119, 65, 1);
}

/* Borrow */
.rightsideborrowbtn,
.rightsideborrowbtn:hover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: black;
  text-align: center;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: rgba(42, 119, 65, 1);
}
.alreadyborrow {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.borrowvalue {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: #2a7741;
}



.addspaceforplayfirstrow{
  margin: 10px 0px;
}
.upperheadingstopright{
  font-size: 13px;
  color: white;
  font-weight: 500;
  margin-bottom:5px;
}
.manageassetsdesc{
  font-size: 13px;
  color: white;
  font-weight: 400;
  margin-bottom:0px;
}


/* TOOLTIP */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  text-align: left;
  width: 500px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: #03030ba4;
  border-radius: 10px;
  padding: 20px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#bottom {
  top: 50px;
  left: -157px;
}

.hover-text {
  position: relative;
  text-align: center;
}