.rowhistorybackground{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.headingforhistorytab{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.rowhistorybackground{
    background-color: #FFFFFF17;
    padding: 15px 30px;
}
.colonfonthistory{
    font-size: 35px;
    color: white;
}
.makeimageshistoryinrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.historyclubname{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}
.gametypeheadhistory{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #D9D9D980;
}
.gametypehistory{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #D9D9D9;
    margin-bottom: 0px;
}
.viewstatshistory, .viewstatshistory:hover{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #101323;
    background-color: #2A7741;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
}
.putstathistorybuttonatend{
    display: flex;
    justify-content: end;
}