.makeprofilepicandtextcent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profilename{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height:22px;
  text-align: center;
  color:#8C8C8C;
}
.profilesubhead{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height:22px;
  color:#FFFFFF;
}
.tabprofilelable{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  color:#d1d1d1;
}
input.tabprofileplaceholder.form-control {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
input.tabprofileplaceholder.form-control::placeholder
{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  color:#858585;
}
.savechangesprofiletab, .savechangesprofiletab:hover{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  color:white;
  background-color: #2A7741;
  border: none;
  padding: 10px 30px;
  margin-top: 30px;
}